<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEAT="{{eaten}}">
		{{#if uneaten}}EAT TIME!{{else}}EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
